@if (Projeto != null && Visivel)
{
    <div class="modal fade show d-block bg-dark bg-opacity-75 align-content-center" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content bg-dark">
                <div class="modal-header d-flex flex-column">
                    <img src="@Projeto.Img" class="card-img-top" style="object-fit:cover;" loading="lazy" alt="@Projeto.Title" />
                    <h5 class="modal-title align-self-start mt-2">@Projeto.Title</h5>
                    <button class="btn-close" @onclick="Fechar">X</button>
                </div>
                <div class="modal-body">
                    <p>@Projeto.Description</p>

                    @if (!string.IsNullOrWhiteSpace(Projeto.GithubCode))
                    {
                        <a class="btn btn-outline-light me-2" target="_blank" href="@Projeto.GithubCode">GitHub</a>
                    }

                    @if (!string.IsNullOrWhiteSpace(Projeto.Deploy))
                    {
                        <a class="btn btn-outline-light" target="_blank" href="@Projeto.Deploy">Abrir Online</a>
                    }
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public Projeto? Projeto { get; set; }
    [Parameter] public bool Visivel { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }

    private async Task Fechar()
    {
        await OnClose.InvokeAsync();
    }
}
