@page "/projetos"
@inject HttpClient Http

<PageTitle>Projetos</PageTitle>
<section class="main-proj">

    @if (projects == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        @foreach (var project in projects)
        {
            <div class="card glass-ui">
                <img class="card-img" src="@project.Img" alt="project image"/>
                <div class="card-body">
                    <h4 class="card-body_title">@project.Title</h4>
                    <span class="card-body_text">@project.Description</span>

                    <div class="card-body_btn">
                        <a href="@project.GithubCode" class="card-link" target="_blank"> Github </a>
                        <a href="@project.Deploy" class="card-link" target="_blank"> Deploy </a>
                    </div>
                </div>
            </div>
        }
    }
</section>

@code {
    private ProjectsList[]? projects;

    protected override async Task OnInitializedAsync()
    {
        projects = await Http.GetFromJsonAsync<ProjectsList[]>("data/projects.json");
    }

    public class ProjectsList
    {
        public string? Img { get; set; }
        public string? Title { get; set; }
        public string? Description { get; set; }
        public string? GithubCode { get; set; }
        public string? Deploy { get; set; }
    }
}

<style>
    .main-proj {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        align-items: start;
        width: 100%;
        color: var(--text-color);
        justify-items: center;
    }

   .card {
       max-width: 280px;
       height: auto;
       display: flex;
       flex-direction: column;
   }

   .card-img {
       aspect-ratio: 4/3;
       border-top-right-radius: 28px;
       border-top-left-radius: 28px;
       width: 100%;
       object-fit: cover;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding: 1em;
        gap: 0.5em;
    }

    .card-body_btn {
        display: flex;
        gap: 10px;
        align-items: center;
        height: auto;
    }

    .card-body_text {
        overflow: hidden;
        white-space: normal;
        text-overflow: ellipsis;
        text-align: justify;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
    }

    .card-link {
        text-align: center;
        padding: 0.5rem 0.5rem;
        border-radius: 16px;
        color: var(--text-color);
        text-decoration: none;
        font-weight: 500;
        background: #646eef;
    }


    @@media (min-width: 738px) {
        .main-proj {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @@media (min-width: 1120px) {
        .main-proj {
            grid-template-columns: repeat(3, 1fr);
        }
    }
</style>
